/* .board-form-label {
    text-align: left;
} */

.board-title {
    font-family: 'Inter', sans-serif;
    font-size: 50px;
    display: flex;
    justify-content: center;
}

.board-show-edit-button-div {
    display: flex;
    justify-content: center;
}

.board-box {
    width: 200px;
    height: 200px;
    /* border: 1px black solid; */
    background-color: rgb(239, 238, 239);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board-box-link {
    color: black;
    margin-right: 10px;
    text-decoration: none;
}

.board-box-item {
    color: black;
    margin-right: 10px;
    text-decoration: none;
}

.boards-index {
    display: flex;
    flex-direction: row;
    margin: 5px;
}

/* Board Dropdown CSS */

.header {
    background-color: #F3F3F3;
    display: flex;
    align-items: baseline;
    padding: .5rem;
    gap: 1rem;
}

.link {
    background: none;
    border: none;
    text-decoration: none;
    color: #777;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    padding: 0;
}

.link:hover {
    color: black;
}

.board-name {
    padding: 6px 8px;
    font-size: 16px;
    font-weight: 520;
    color: rgb(23, 23, 23);
    margin-top: 7px;
}

.boards-index {
    margin-top: 20px;
    margin-left: 15px;
}

.board-add {
    color: white;
    font-size: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}