/* .board-form-label {
    text-align: left;
} */

.board-title {
    font-family: 'Inter', sans-serif;
    font-size: 50px;
    display: flex;
    justify-content: center;
}

.board-show-edit-button-div {
    display: flex;
    justify-content: center;
}

.board-box {
    width: 200px;
    height: 200px;
    border: 1px black solid;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.board-box-link {
    text-decoration: none;
    color: black;
}

.boards-index {
    display: flex;
    flex-direction: row;
    margin: 10px;
}