.comment-profile-pic {
    background-color: rgb(239, 238, 239);
    color: rgb(23, 23, 23);
    font-weight: bold;
    border-radius: 100%;
    text-align: center;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.comment-index-item {
    display: flex;
    flex-direction: row;
    border-width: 1px;
    margin-bottom: 10px;
}

.comment-content {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(220, 220, 220);
    border-radius: 15px;
    margin-left: 10px;
    padding: 12px;
}

.comment-name {
    font-weight: bold;
    width: 100%;
    margin-bottom: 2px;
}

.comment-text {
    white-space: pre-wrap;
    overflow-wrap: break-word;
    color: rgb(36, 31, 38)
}

.comment-pic-input {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.comment-input {
    padding: 10px;
    padding-left: 15px;
    margin-left: 10px;
    border-width: 1px;
    border-radius: 20px;
    border-color: rgb(220, 220, 220);
    color: rgb(36, 31, 38);
}

.comment-input:focus {
    border-style: none;
}

.comment-submit {
    display: inline-block;
    height: 40px;
    padding: 8px 14px;
    margin-top: 10px;
    border-radius: 20px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
    background-color: rgb(230, 0, 35);
    border-color:rgb(230, 0, 35);
    border-style: solid;
    color: rgb(255, 255, 255);
}

.comment-submit-div {
    display: flex;
    justify-content: flex-end;
}

.comments {
    overflow-y: auto;
    height: 80%;  
}