// Place all the styles related to the session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.logo-img, .form-logo{
    width: 40px;
    height: 40px;
}

.logo-name {
    color: #e60023;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 20px;
    margin-top: 0px;
}